<FormField @label="Table name">
  <input
    data-test-table-name
    class="form-field__input"
    value={{table.title}}
    onchange={{action (mut table.title) value="target.value"}}
  >
</FormField>

<EditableTable data-test-table @columns={{table.columns}} @rows={{table.rows}} />

<FormField @label="Send to">
  <input
    data-test-email-recipients
    class="form-field__input"
    placeholder="Email address"
    value={{recipients}}
    onchange={{action (mut recipients) value="target.value"}}
  >
</FormField>

<div>
<button
  data-test-email-send
  class="btn btn--primary"
  disabled={{saveAndSendByEmail.isRunning}}
  {{action (perform saveAndSendByEmail table recipients)}}
>
  {{if saveAndSendByEmail.isRunning "Sending..." "Send"}}
</button>
{{#if error}}
  <div data-test-email-send-error class="alert alert--error">
    {{error}}
  </div>
{{/if}}
</div>
